/*css body*/
/** {
  box-sizing: border-box;
}*/
body{
  padding:0;
  margin:0;
  font-family: 'Roboto', sans-serif; 
  font-style: italic
}
h1,h2,h3{
  font-family: 'Roboto', sans-serif; 
  font-size:25px;
  font-style: italic;
  color:black;
  text-align: center;
}

h5,h6,h4{
  font-family: 'Roboto', sans-serif; 
  font-size:25px;
  font-style: italic;
}
p{
  font-family: 'Roboto', sans-serif; 
  font-size:15px;
  font-style: italic;
}


* {
  box-sizing: border-box;
}
main {
  min-height: 80vh;
}


/*css navbar*/
.nav{
  position: sticky;
  top: 0;
  width: 100%;
  color:black;
  font-family: 'Roboto', sans-serif;
 
}
.name{
  font-family: 'Roboto', sans-serif;
  font-size:15px;
  font-weight: bold;
  color:rgb(81, 148, 211);
}


/*css Home page*/
.link{
  text-decoration: none;
  font-family: 'Roboto', sans-serif;
  color:black;
}
.link:hover{
  text-decoration: none;
  color:rgb(28, 127, 241);
}

.logo{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width:200;
  height:200;
}
.d-block {
  display: block;
 
  margin-left:auto;
  margin-right:auto;
  width:80%;
}
.home-conseil {
  display: flex;
 flex-direction:row;
  grid-gap: 10px;
  background-color: #fff;
  color: #444;
}

.card1 {
  grid-gap: 10px;
   background-color: #444;
  border-radius: 20px;
  padding: 20px;
  font-size: 100%;
  margin:20px;
  width: 300px;
  height:500px;

  
  }
 
 .img{
  max-width: 100%;
  height: auto;
  border-radius: 10px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding:20px;

   
 }
.box1{
 display:block;
 margin-left: auto;
 margin-right: auto;

}
.footer {
  
  left: 0;
  bottom: 0;
  width: 100%;
 
}
.col1{
  margin:10px;
}
/*css page conseils*/
.container{
  display:flex;
 flex-wrap:row;
  justify-content:center;
  margin:20px;
  

}
.card{
  margin:20px;
  border-radius: 10px;
  border:1px;
}
.conseil1{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width:60%;
}

.img1{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width:30%;
  border-radius: 10px;
}
.img2{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width:40%;
  border-radius: 10px;
}

.conseil2{
  display:block;
  margin-left: auto;
    margin-right: auto;
    width:40%;
  }
  .img3{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width:30%;
    border-radius: 10px;
  }
  .conseil3{
    display:block;
    margin-left: auto;
      margin-right: auto;
      width:60%;
    }
    .img4{
      display: block;
      margin-left: auto;
      margin-right: auto;
      width:40%;
      border-radius: 10px;
    }
    .conseil4{
      display:block;
      margin-left: auto;
        margin-right: auto;
        width:50%;
      }
.para{
  display:block;
  margin-left: auto;
  margin-right:auto;
  width:80%
}

/*css contact*/

.contact{
  display:flex;
  flex-direction:row;
  justify-content:center;
  align-items:center;
  font-style: italic;
  color:black;
  text-align: center;
}

.input{
  font-family: 'Roboto', sans-serif;
  display:flex;
  flex-direction:row;
  align-items:baseline;
 justify-content:space-between;
}



/*css card products*/

.card-group{
  display: flex;
  flex-direction:row;
  justify-content:center;
   grid-gap: 10px;
   background-color: #fff;
   color: #444;
  
 

}

.row{
  margin:20px;

}
   .col{
     margin:20px;
   }
    .title{
      color:grey;
      font-size:25px;
     font-style: italic;
     font-family: 'Roboto', sans-serif;
  
    }
    .title:hover{
      color:rgb(226, 43, 134);
    }
    .price{
      color:grey;
      font-size:15px;
     font-style: italic;
     font-family: 'Roboto', sans-serif;
    }
    .category{
      color:grey;
      font-size:15px;
     font-style: italic;
     font-family: 'Roboto', sans-serif;
    }
   
    
    .nav1{
      position:static;
    }
    /*CSS Admin*/
    .card2{
      grid-gap: 10px;
      background-color: #444;
     border-radius: 20px;
     padding: 20px;
     font-size: 100%;
     margin:20px;
     width: 300px;
     height:600px;
    }